.tru-back-to-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: $blue url(inc/images/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s ;
}

.tru-back-to-top.btt-is-visible,
.tru-back-to-top.btt-fade-out,
.no-touch .tru-back-to-top:hover {
	transition: opacity 0.3s 0s, visibility 0s 0s;
}

.tru-back-to-top.btt-is-visible { 
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.tru-back-to-top.btt-fade-out { 
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.no-touch .tru-back-to-top:hover { 
	background-color: $blue;
	opacity: 1;
}

@media only screen and (min-width: 768px) { 
	.tru-back-to-top { 
		right: 20px;
		bottom: 20px;  
    }
}

@media only screen and (min-width: 1024px) { 
	.tru-back-to-top { 
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
    }
}