/* general */
$mobile-font-size-h2: 0.95em;
$mobil-font-size: 0.9em;
$tablet-font-size-h2: 1em;

h2.blog-list-post {
    font-size: $mobile-font-size-h2;
    
    @media (min-width: 576px) { 
        font-size: $tablet-font-size-h2;
    }

    @media (min-width: 768px) { 
        font-size: 1.4em;
    }
}
    
/* blog landing */
.tru-blog-landing {
    font-size: $mobil-font-size;

    @media (min-width: 768px) { 
        font-size: 1em;
    }
       
    .excerpt {
	    margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    h2.blog-landing-large {
        font-size: $mobile-font-size-h2;
        
        @media (min-width: 768px) { 
            font-size: 1em;
        }
        
        @media (min-width: 576px) { 
            font-size: $tablet-font-size-h2;
        }

        @media (min-width: 768px) { 
            font-size: 1.5em;
        }
    }
    
    h2.blog-post-right {
        font-size: $mobile-font-size-h2;

        @media (min-width: 768px) { 
            font-size: 1em;
        }
        
        @media (min-width: 576px) { 
            font-size: $tablet-font-size-h2;
        }

        @media (min-width: 768px) { 
            font-size: 1.1em;
        }

        @media (min-width: 992px) { 
            font-size: 1.2em;
        }
    }
}

/* blog archive */
.tru-blog-archive {
    
}

/* blog single */
.tru-blog-single { 
    /* sharing */
    .sharedaddy {
        .sd-title {
            display: none;
        }
        
        .sd-content {
            ul {
                li {
                    margin: 0 10px 5px 0;
                }
            }
        }
    }	
    
	.power-rankings {
    	list-style-type: none;
    	
    	.rider {
        	margin-top: 15px;
        	margin-bottom: 15px;
        	
        	.rider-rank {
            	margin-top: 1em;
        	}
        	
        	.image-wrap {
            	display: flex;
            	flex-wrap: wrap;
            	align-items: center;
            	
            	img {
                    border-radius: 5px;
            	}
        	}
        	
        	.rider-name {
            	font-weight: bold;
            	margin-left: 5px;
        	}
    	}
	}

	.predictions {
        .header {
            font-weight: bold;
        }
        
        .place {
            text-align: center;
        }
        
        .points {
            text-align: center;
        }
	}
	
    footer.entry-meta {
	    margin-bottom: 15px;
        background: transparent;
        margin-top: 30px;
        
        .tags-list {
            .tags-title {
                text-transform: uppercase;
                font-weight: 600;
            }
            .tag-links {
                a {
                    padding: 5px;
                    background: $whitesmoke;
                }
            }
        }

        .categories-list {
            margin-top: 15px;
            
            .categories-title {
                text-transform: uppercase;
                font-weight: 600;
            }
            .categories-link {
                a {
                    padding: 5px;
                    background: $whitesmoke;
                }
            }
        }
    }	
}