.archive.tag {
    .tag-row {
        margin-bottom: 15px;
        align-items: center;
        
        .post-thumbnail {
            img {
                border-radius: 5px;
            }
        }
    }    
}