/* general */
.fc-template {
    .hidden {
        display: none;
    }
}
/* home */
.fantasy-cycling-landing {
    .schedule {
        .upcoming-races {
            li {
                padding-top: 15px;
                padding-bottom: 15px;
                align-items: center;
                
                .button-wrap {
                    padding-left: 0;
                    
                    .btn-join-race {
                    	border: 1px solid;
                    	border-color: $color__border-button-alt;
                    	border-radius: 3px;
                    	background: $color__background-button-alt;
                    	color: $white;
                    	@include font-size(0.95);
                    	line-height: 1;
                    	padding: .6em 1em;
                    
                    	&:hover {
                    		border-color: $color__border-button-hover-alt;
                    		color: $color__background-button-alt;
                    		background: $white;
                    	}
                    
                    	&:active,
                    	&:focus {
                    		border-color: $color__border-button-focus-alt;
                    	}
                    }
                }
            }
        }
    }
}

/* add riders */
.fantasy-cycling-add-riders {
    .actions {
        #rider-list-filter {
            overflow: hidden;
            
            #search-rider {
                width: 50%;
            }
            
            #search-rider-btn {
                margin-left: 10px;
            }
            
            button.clear-search {
                margin-left: 10px;
            }
        }
    }
}

.fantasy-cycling-my-team .my-team-list {
	margin-top: 1em;
}
.fantasy-cycling-my-team .my-team-list .add-rider {
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 5px;
	
	&.hidden {
    	display: none;
	}
}
.fantasy-cycling-my-team .my-team-list .rider span.add-remove {
	padding-left: 0;
}
#fc-add-rider-modal .actions {
	margin-bottom: 0;
}
#fc-add-rider-modal .modal-header {
	padding-top: 20px;
}
.fc-arm-search #rider-search {
	padding: 2px 4px;
}
.fc-arm-search .rider-search-close {
  padding: 2px 4px;
  font-size: 18px;
  margin-right: 15px;
}
.fc-add-riders-modal-content .actions {
	border-bottom: 1px solid #000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.fc-add-riders-modal-content .riders .stats {
	font-size: 11px;
	border-bottom: 1px solid #000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.fc-add-riders-modal-content .rider:nth-child(odd) .row {
	background: #eee;
}
.fc-add-riders-modal-content .riders-table .header {
	font-size: 0.85em;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
.fc-add-riders-modal-content .rider .row.stats {
	font-size: 0.9em;
	padding-bottom: 3px;
	padding-top: 3px;
}
.fc-add-riders-modal-content .riders .header {
	font-weight: bold;
}
.fc-add-riders-modal-content .riders .stats.header {
	font-weight: bold;
	border-top-width: 0;
}
.fc-add-riders-modal-content .riders .header.smplus,
.fc-add-riders-modal-content .riders .rider .smplus {
	border-bottom: 1px solid #000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.view-rider-modal a:hover {
	text-decoration: none;
	color: #fff;
}
.fc-add-riders-modal-content .rider .proj,
.fc-add-riders-modal-content .rider .rank,
.fc-add-riders-modal-content .rider .year,
.fc-add-riders-modal-content .rider .last-year,
.fc-add-riders-modal-content .rider .cost {
	text-align: center;
}
.fc-add-riders-modal-content .rider a.add-rider,
.fc-add-riders-modal-content .rider a.remove-rider {
	font-size: 26px;
	padding-left: 6px;
}
.fc-add-riders-modal-content .rider .dollar {
	font-size: 18px;
	position: relative;
	padding-left: 12px;
	top: 9px;
	color: green;
}
#fc-add-rider-modal .dollar:after {
    color: red;
    font-weight: 700;
    font-size: 1.6em;
    left: 13px;
    top: -5px;
}
.fc-add-riders-modal-content .rider .name,
.fc-add-riders-modal-content .rider .cost {
	margin-top: 8px;
	padding-bottom: 8px;
}
.fc-add-riders-modal-content .startlist,
.fc-add-riders-modal-content .rider .name .startlist,
.fantasy-cycling-my-team .rider .startlist {
	color: green;
}
.fc-add-riders-modal-content .rider .smplus > div {
	margin-top: 8px;
}
.fc-add-riders-modal-content .rider .smplus > div:first-child {
	margin-top: 0;
}
.tru-add-riders-btn {
	color: #fff;
    background-color: #18A9E1;
    border-color: #1a84e1;
    padding: 5px 10px;
}
.tru-add-riders-btn:focus {
	outline: none;
}
.tru-social-media-share {
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}
.info .tru-social-media-share {
	padding-top: 0;
	padding-bottom: 0;
}
.tru-social-media-share .share-title {
	font-weight: bold;
}
.tru-social-media-share .share-btns {}
.fantasy-cycling-my-team .my-team-list .header {
	text-align: center;
}
.fantasy-cycling-my-team .rider .proj,
.fantasy-cycling-my-team .rider .rank,
.fantasy-cycling-my-team .rider .year,
.fantasy-cycling-my-team .rider .last-year,
.fantasy-cycling-my-team .rider .cost,
.fantasy-cycling-my-team .rider .value,
.fantasy-cycling-my-team .rider .fantasy-points,
.fantasy-cycling-my-team .rider .uci-points,
.fantasy-cycling-my-team .rider .last-race,
.fantasy-cycling-my-team .rider .perc-owned {
	text-align: center;
}
.fantasy-cycling-my-team .rider .name,
.fantasy-cycling-my-team .rider .proj,
.fantasy-cycling-my-team .rider .rank,
.fantasy-cycling-my-team .rider .last-year,
.fantasy-cycling-my-team .rider .cost {
	margin: 5px 0 0 0;
}
.fantasy-cycling-my-team .rider {
	padding-top: 10px;
	padding-bottom: 10px;
}
.fantasy-cycling-my-team .rider .add-remove .fa-minus-circle {
	font-size: 30px;
}
.fantasy-cycling-race .race-results .header,
.fantasy-cycling-race .race-results .rider,
.fantasy-cycling-race .race-history .header,
.fantasy-cycling-race .race-history .race,
.fantasy-cycling-race .fantasy-results .team,
.fantasy-cycling-race .race-predictions .rider {
	padding-top: 5px;
	padding-bottom: 5px;
}
.fantasy-cycling-race .race-predictions .rider .proj-finish,
.fantasy-cycling-race .race-predictions .rider .perc-of-winning,
.fantasy-cycling-race .race-predictions .rider .start-position,
.fantasy-cycling-race .race-predictions .rider .uci-rank {
	text-align: center;
}

.fantasy-cycling-race .race-results .rider:nth-child(even),
.fantasy-cycling-race .fantasy-results .team:nth-child(even),
.fantasy-cycling-race .race-predictions .rider:nth-child(even) {
	background: #eee;
}
.fc-rider .header {
	font-weight: bold;
}
.fantasy-cycling-rider .rider-results .race .race-name {
  padding-left: 15px;
}
.fantasy-cycling-my-team .time-notice {
	margin-top: 15px;
}
.fantasy-cycling-my-team .help {
	margin-top: 15px;
	border-top: 1px solid #000;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
}
.fantasy-cycling-my-team .help .strong {
	font-weight: bold;
}

/* fantasy main */

.tru-fantasy-main .team {
	text-align: center;
	margin-bottom: 15px;
}
.tru-fantasy-main .team a {
	display: inline-block;
	font-size: 18px;
	padding: 10px 15px;
}
.tru-fantasy-main .team a:hover {
	text-decoration: none;
	color: #fff;
	background: #337ab7;
}
.tru-fantasy-main .team .team-standings {
	margin-top: 10px;
}
.tru-fantasy-main .standings .row.header,
.tru-fantasy-main .races-recent-results .row.header {
	font-weight: bold;
}
.tru-fantasy-main .standings .row:nth-child(even),
.tru-fantasy-main .races-recent-results .row:nth-child(even) {
	background: #eee;
}
.tru-fantasy-main .schedule .upcoming-races {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tru-fantasy-main .schedule .upcoming-races li {
	padding: 5px 10px;
}
.tru-fantasy-main .schedule .upcoming-races li:nth-child(odd) {
	background: #eee;
}
.tru-fantasy-main .schedule .upcoming-races li .race-date {
	font-weight: bold;
	font-size: 0.9em;
}
.tru-fantasy-main .schedule .upcoming-races li .race-name {
	font-size: 1em;
}
.tru-fantasy-main .news .news-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tru-fantasy-main .news .news-list li {
	margin-bottom: 10px;
}
.tru-fantasy-main .action > div {
	text-align: center;
}
.tru-fantasy-main .action .btn-tru {
	display: inline-block;
	margin-bottom: 15px;
	padding: 10px 15px;
	font-size: 16px;
	width: 80%;
	text-align: center;
}
.tru-fantasy-main .action .btn-tru:hover {
  text-decoration: none;
  color: #fff;
  background: #337ab7;
}

/* fantasy cycling - single rider */
.fantasy-cycling-rider .rider-results .race-class,
.fantasy-cycling-rider .rider-results .rider-place,
.fantasy-cycling-rider .rider-results .rider-points {
	text-align: center;
}

/* fantasy cycling - standings */
.fantasy-cycling-standings .fc-standings .row:nth-child(even) {
	background: #eee;
}

/* fantasy cycling - roster */
.fantasy-cycling-roster .active-roster-list .row:nth-child(odd),
.fantasy-cycling-roster .fc-roster .fc-results .row:nth-child(even) {
	background: #eee;
}
.fantasy-cycling-roster .race-details {
	margin-top: 15px;
	margin-bottom: 15px;
}
.fantasy-cycling-roster .fc-results {
	margin-bottom: 15px;
}

/* fantasy cycling - schedule */
.fantasy-cycling-schedule .fc-races {

}
.fantasy-cycling-schedule .fc-races .row:nth-child(even) {
	background: #eee;
}