/* front page */
.jumbotron.home {
    background: #333;
    text-align: center;
    background-image: radial-gradient(circle closest-corner at 50% 50%, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.85)), url('inc/images/crowds.jpg');
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
    color: #fff;
    //padding-top: 78px;
    //padding-bottom: 78px;
    border-radius: 0;
    margin-bottom: 0;
}
.home .title {
	font-family: 'Arvo', serif;
	font-size: 50px;
	font-weight: 700;
	padding-bottom: 30px;
}
.home .slogan {
	font-size: 22px;
	font-style: italic;
	padding-bottom: 30px;
}
.home .join-now,
.home .my-team {
	color: #fff;
  background-color: #18A9E1;
  border-color: #1a84e1;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.how-to-play {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
    
    .title {
	    font-family: 'Arvo', serif;
    	font-size: 40px;
    	font-weight: 700;
    	padding-bottom: 30px;
    	text-align: center;
    }
    
    .icons-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    
        .text {
    	    font-size: 16px;
        }
        
        i {
    	    font-size: 6em;
        }
    
        .arrow i {
    	    font-size: 8em;
    	    color: $gray;
        }
    
        .step-1 {
            color: $green;
            
            .text {
                color: $font-color;
            }
        }
        
        .step-2 {
            color: $blue;
            
            .text {
                color: $font-color;
            }
        }
        
        .step-3 {
            color: $yellow;
            
            .text {
                color: $font-color;
            }
        } 
    }     
}

.home-about {
	background-color: #18A9E1;
	padding-top: 30px;
	padding-bottom: 30px;
}
.home-about .section-title {
	text-align: center;
}
.home-about h1 {
	font-size: 24px;
	font-weight: 400;
	padding: 0 0 15px 0;
	margin: 0 auto;
	text-transform: uppercase;
}
.home-about .blurb h2 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 25px 0 10px;
}
.home-about .blurb p {
	font-size: 1.2em;
	line-height: 1.6em;
}