.pcl-register-page,
.pcl-login-page,
.pcl-forgot-password-page,
.pcl-profile-page {
    .entry-header {
        display: none;
    }
    .entry-content {
        margin-top: 3.34em;
    }
}

#pcl-registration-form,
#pcl-login-form,
.custom-lost-password-form,
.password-reset-form,
.pcl-profile-form {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        width: 100%;
    }

    input[type="submit"] {
        float: right;
    }
    
    h3 {
        margin-top: 0.5em;
    }
}

#pcl-registration-form {
    p,
    #pcl_firstname,
    #pcl_password {
        margin-bottom: 1em;
    }
}

.custom-login-extras {
    padding: 0;
}