/*--------------------------------------------------------------
## WordPress
--------------------------------------------------------------*/
@import "wp";

/* comments */
@import "comments";

/* entry meta */
@import "entry-meta";

/* posts */
@import "posts";

/* back to top button */
@import "back-to-top";

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.jumbotron {
    padding: 4rem;
}

/* front page */
@import "front-page";

/* blog */
@import "blog";

/* tag archives */
@import "content-tag";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";