.primary-nav {
    overflow: hidden;
}

.navbar {
    .header-logo {
        margin-left: 15px; 
        
        @media (min-width: 768px) {
            float: left;
        }           
    }
    
    .navbar-toggler {
        position: absolute;
        top: 15px;
        right: 15px;
        
        &:hover {}   
        
        @media (min-width: 768px) {
            display: none;
        }     
    }

    .navbar-nav {
        list-style-type: none;
        flex-direction: column;
        display: none;
        padding: 0;
        
        li {
            text-align: center;
            margin: 15px auto 0;
                
            a {
    	        color: $black;
    	        padding: 0.25rem 0.75rem;
    	        text-decoration: none;
    	        
    	        &:visited {
        	        color: $black;
    	        }
    	    
                &:focus,
                &:hover {
                    color: $dark_gray;
                    background-color: transparent;
                    text-decoration: none;    	    
                }                    
            }
        
            &.active {
                color: $dark_gray;
                
                &:focus,
                &:hover {
                    color: $dark_gray;    	    
                }     
            }
        }
        
        @media (min-width: 768px) {
            float: right;
            margin-right: 15px;
            
            li {
                float: left;
            }
        } 
    }   

}

.secondary-nav {
    background: $extra-light-gray;
    overflow: hidden;
    
    .menu {
        padding: 10px 0;
        margin: 0 15px 0 0;
        list-style-type: none;
        float: right;
        
        li {
            float: left;
            
            a {
                padding: 0.25rem 0.75rem;
                color: $dark-gray;
                
                &:hover {
                    color: $gray;
                }
            }    
        }
    }
}